# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
/vendor/
/src/vendor/

# intelliJ and vscode configs directory
.idea/
.vscode/

# .env file
/src/.env
/.env

src/.DS_Store
.DS_Store

# docker-compose data
/data

# executable files
/src/main
/src/main.exe
/src/main.bat

*.txt
